@charset "utf-8";

html {
    overflow-x: hidden;
    padding: 0;
    margin: 0
}

body {
    font-family: mulish;
    font-size: 15px;
    line-height: 30px;
    letter-spacing: 1px;
    word-wrap: break-word;
    font-weight: 400;
    background-color: #fff;
    color: #767676
}

svg {
    fill: currentcolor;
    width: 15px;
    height: 15px
}

img.svg {
    width: 15px;
    height: 15px
}

::-webkit-input-placeholder {
    color: #6f6f6f
}

:-moz-placeholder {
    color: #6f6f6f;
    opacity: 1
}

::-moz-placeholder {
    color: #6f6f6f;
    opacity: 1
}

:-ms-input-placeholder {
    color: #6f6f6f
}

::-ms-input-placeholder {
    color: #6f6f6f
}

::placeholder {
    color: #6f6f6f
}

.container {
    max-width: 90%;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    padding: 0 40px;
    position: relative;
    clear: both
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 500;
    line-height: 1.4;
    font-family: poppins;
    color: #000
}

h1 {
    font-size: 45px
}

h2 {
    font-size: 36px
}

h3 {
    font-size: 30px
}

h4 {
    font-size: 24px
}

h5 {
    font-size: 20px
}

h6 {
    font-size: 16px
}

.platfware_all_wrap {
    width: 100%;
    height: auto;
    clear: both;
    float: left;
    position: relative
}

.platfware_all_wrap,
.platfware_all_wrap * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

.platfware_section {
    width: 100%;
    height: auto;
    clear: both;
    float: left
}

#preloader {
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100%;
    z-index: 99999;
    display: flex
}

#preloader:before,
#preloader:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 50%;
    height: 100%;
    z-index: -1;
    background-color: #fff;
    -webkit-transition: all .3s ease 0s;
    -o-transition: all .3s ease 0s;
    transition: all .3s ease 0s
}

#preloader:after {
    left: auto;
    right: 0
}

#preloader .loader_line {
    margin: auto;
    width: 1px;
    height: 250px;
    position: relative;
    overflow: hidden;
    -webkit-transition: all .8s ease 0s;
    -o-transition: all .8s ease 0s;
    transition: all .8s ease 0s
}

.loader_line:before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    width: 1px;
    height: 0%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    background-color: #000;
    -webkit-animation: lineheight 1000ms ease-in-out 0s forwards;
    -o-animation: lineheight 1000ms ease-in-out 0s forwards;
    animation: lineheight 1000ms ease-in-out 0s forwards
}

.loader_line:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 1px;
    height: 100%;
    background-color: #c8c8c8;
    -webkit-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    transform: translateY(-100%);
    -webkit-animation: lineround 1200ms linear 0s infinite;
    -o-animation: lineround 1200ms linear 0s infinite;
    animation: lineround 1200ms linear 0s infinite;
    animation-delay: 2000ms
}

@keyframes lineheight {
    0% {
        height: 0%
    }

    100% {
        height: 100%
    }
}

@keyframes lineround {
    0% {
        -webkit-transform: translateY(-100%);
        -ms-transform: translateY(-100%);
        -o-transform: translateY(-100%);
        transform: translateY(-100%)
    }

    100% {
        -webkit-transform: translateY(200%);
        -ms-transform: translateY(200%);
        -o-transform: translateY(200%);
        transform: translateY(200%)
    }
}

.preloaded .loader_line:after {
    opacity: 0
}

.preloaded .loader_line {
    opacity: 0;
    height: 100% !important
}

.preloaded:before,
.preloaded:after {
    -webkit-animation: preloadedzero 300ms ease-in-out 500ms forwards;
    -o-animation: preloadedzero 300ms ease-in-out 500ms forwards;
    animation: preloadedzero 300ms ease-in-out 500ms forwards
}

@keyframes preloadedzero {
    0% {
        width: 50%
    }

    100% {
        width: 0%
    }
}

.platfware_topbar {
    left: 0;
    right: 0;
    position: fixed;
    z-index: 10;
    padding: 30px 0;
    transform: translateY(-101%);
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease
}

.platfware_topbar.opened {
    transform: translateY(0)
}

.platfware_topbar.animate {
    background-color: #fff;
    padding: 25px 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1)
}

.platfware_topbar .topbar_inner {
    width: 100%;
    height: auto;
    clear: both;
    display: flex;
    align-items: center;
    justify-content: space-between
}

.platfware_topbar .logo .dark {
    display: none
}

.platfware_topbar.animate .logo .dark {
    display: block
}

.platfware_topbar.animate .logo .light {
    display: none
}

.platfware_topbar .logo img {
    max-width: 200px
}

.platfware_topbar .logo a {
    display: inline-block
}

.platfware_topbar .menu ul {
    margin: 0;
    list-style-type: none
}

.platfware_topbar .menu ul li {
    margin: 0 30px 0 0;
    display: inline-block
}

.platfware_topbar .menu ul li:last-child {
    margin-right: 0
}

.platfware_topbar .menu ul li a {
    text-decoration: none;
    color: #fff;
    font-family: poppins;
    font-weight: 500;
    font-size: 16px;
    transition: all .3s ease
}

.platfware_topbar .menu ul li.current a {
    color: #00bf63;
}

.platfware_topbar .menu ul li a:hover {
    color: #00bf63
}

.platfware_topbar.animate .menu ul li a {
    color: #000
}

.platfware_mobile_menu {
    width: 100%;
    height: auto;
    position: relative;
    top: 0;
    left: 0;
    display: none;
    z-index: 10
}

.platfware_mobile_menu .topbar_inner {
    width: 100%;
    height: auto;
    float: left;
    clear: both;
    background-color: #fff;
    padding: 20px 0;
    border-bottom: 1px solid rgba(0, 0, 0, .2)
}

.platfware_mobile_menu .topbar_inner .logo img{
    max-width: 200px;

}


.platfware_mobile_menu .topbar_in {
    width: 100%;
    height: auto;
    clear: both;
    float: left;
    display: flex;
    align-items: center;
    justify-content: space-between
}

.my_trigger .hamburger {
    padding: 15px;
    display: inline-block;
    cursor: pointer;
    transition-property: opacity, filter;
    transition-duration: .15s;
    transition-timing-function: linear;
    font: inherit;
    color: inherit;
    text-transform: none;
    background-color: transparent;
    border: 0;
    margin: 0;
    overflow: visible
}

.my_trigger .hamburger-box {
    width: 30px;
    height: 18px;
    display: inline-block;
    position: relative
}

.my_trigger .hamburger-inner {
    display: block;
    top: 50%;
    margin-top: -2px
}

.my_trigger .hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
    width: 30px;
    height: 2px;
    background-color: #333;
    position: absolute;
    transition-property: transform;
    transition-duration: .15s;
    transition-timing-function: ease;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px
}

.my_trigger .hamburger-inner::before,
.my_trigger .hamburger-inner::after {
    content: "";
    display: block
}

.my_trigger .hamburger-inner::before {
    top: -8px
}

.my_trigger .hamburger-inner::after {
    bottom: -10px
}

.my_trigger .hamburger--collapse-r .hamburger-inner {
    top: auto;
    bottom: 0;
    transition-duration: .13s;
    transition-delay: .13s;
    transition-timing-function: cubic-bezier(.55, .055, .675, .19)
}

.my_trigger .hamburger--collapse-r .hamburger-inner::after {
    top: -16px;
    transition: top .2s .2s cubic-bezier(.33333, .66667, .66667, 1), opacity .1s linear
}

.my_trigger .hamburger--collapse-r .hamburger-inner::before {
    transition: top .12s .2s cubic-bezier(.33333, .66667, .66667, 1), transform .13s cubic-bezier(.55, .055, .675, .19)
}

.my_trigger .hamburger--collapse-r.is-active .hamburger-inner {
    transform: translate3d(0, -10px, 0) rotate(45deg);
    transition-delay: .22s;
    transition-timing-function: cubic-bezier(.215, .61, .355, 1)
}

.my_trigger .hamburger--collapse-r.is-active .hamburger-inner::after {
    top: 0;
    opacity: 0;
    transition: top .2s cubic-bezier(.33333, 0, .66667, .33333), opacity .1s .22s linear
}

.my_trigger .hamburger--collapse-r.is-active .hamburger-inner::before {
    top: 0;
    transform: rotate(90deg);
    transition: top .1s .16s cubic-bezier(.33333, 0, .66667, .33333), transform .13s .25s cubic-bezier(.215, .61, .355, 1)
}

.my_trigger .hamburger {
    padding: 0;
    height: 100%;
    display: table-cell;
    vertical-align: middle
}

.my_trigger .hamburger-box {
    display: block
}

.my_trigger .hamburger .hamburger-inner::before,
.my_trigger .hamburger .hamburger-inner::after,
.my_trigger .hamburger .hamburger-inner {
    background-color: #000;
    width: 30px;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease
}

.platfware_mobile_menu .dropdown {
    width: 100%;
    height: auto;
    clear: both;
    float: left;
    background-color: #fff;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    display: none
}

.platfware_mobile_menu .dropdown .dropdown_inner {
    width: 100%;
    height: auto;
    clear: both;
    float: left;
    padding: 25px 0
}

.platfware_mobile_menu .dropdown .dropdown_inner ul {
    margin: 0;
    list-style-type: none
}

.platfware_mobile_menu .dropdown .dropdown_inner ul li {
    margin: 0;
    float: left;
    width: 100%
}

.platfware_mobile_menu .dropdown .dropdown_inner ul li a {
    text-decoration: none;
    color: #000;
    display: inline-block;
    padding: 4px 0;
    font-family: montserrat;
    font-weight: 500
}

.platfware_mobile_menu .logo img {
    max-width: 70px
}

.platfware_landing {
    width: 100%;
    height: 100vh;
    clear: both;
    float: left;
    position: relative;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 25% 100%, 0 100%);
    overflow: hidden;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease
}

.platfware_landing.creative {
    clip-path: none
}

.platfware_landing.creative.shape {
    clip-path: none
}

.platfware_landing.shape {
    clip-path: polygon(0 0, 100% 0, 100% 83%, 25% 100%, 0 83%)
}

.platfware_landing .bg {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0
}

.platfware_landing .bg .image {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 1;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.platfware_landing .bg .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    background-color: rgba(0, 0, 0, .2)
}

.platfware_landing .content {
    width: 100%;
    height: 100%;
    float: center;
    position: relative;
    z-index: 2
}

.platfware_landing .container {
    height: 100%
}

.platfware_landing .details {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 5
}

.platfware_landing .name {
    font-size: 65px;
    font-weight: 700;
    color: #fff;
    margin-bottom: 11px
}

.platfware_landing .details[data-animation=toTop] .fn_animation .character {
    top: 15px
}

.platfware_landing .details[data-animation=toTop] .fn_animation .character.opened {
    top: 0
}

.platfware_landing .details[data-animation=toRight] .fn_animation .character {
    right: 15px
}

.platfware_landing .details[data-animation=toRight] .fn_animation .character.opened {
    right: 0
}

.platfware_landing .details[data-animation=scale] .fn_animation .character {
    opacity: 1;
    visibility: visible;
    transform: scale(0)
}

.platfware_landing .details[data-animation=scale] .fn_animation .character.opened {
    transform: scale(1)
}

.platfware_landing .details[data-animation=rotate] .fn_animation .character {
    transform: rotate(30deg)
}

.platfware_landing .details[data-animation=rotate] .fn_animation .character.opened {
    transform: rotate(0)
}

.fn_animation {
    opacity: 0
}

.fn_animation.ready {
    opacity: 1
}

.fn_animation .character {
    display: inline-block;
    position: relative;
    opacity: 0;
    visibility: hidden;
    transform: translateZ(0);
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease
}

.fn_animation .character.opened {
    opacity: 1;
    visibility: visible
}

.fn_animation.job .character {
    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    -ms-transition: all .4s ease;
    -o-transition: all .4s ease;
    transition: all .4s ease
}

.platfware_landing .job {
    color: #ddd;
    letter-spacing: 1.5px;
    font-family: poppins;
    font-size: 17px;
    font-weight: 500;
    margin-bottom: 40px;
    max-width: 400px;
    font-style: italic
}

.platfware_down {
    position: absolute;
    z-index: 7;
    bottom: 5%;
    display: none
}

.platfware_down.opened {
    display: block
}

.platfware_down[data-position=left] {
    left: 0
}

.platfware_down[data-position=right] {
    right: 0
}

.platfware_down[data-position=center] {
    left: 50%;
    transform: translateX(-50%)
}

.platfware_down .line_wrapper {
    position: absolute;
    width: 1px;
    height: 100%;
    left: 0;
    right: 0;
    margin: 0 auto;
    opacity: 1;
    filter: alpha(opacity=100);
    -ms-filter: "alpha(opacity=100)";
    visibility: visible;
    -webkit-transition: all .7s;
    -moz-transition: all .7s;
    -ms-transition: all .7s;
    -o-transition: all .7s;
    transition: all .7s
}

.platfware_down .line_wrapper {
    width: 1px;
    height: 50px;
    background: 0 0;
    display: block
}

.platfware_down .line_wrapper:before {
    -webkit-animation: scroll-down 2s ease-in-out infinite;
    -ms-animation: scroll-down 2s ease-in-out infinite;
    animation: scroll-down 2s ease-in-out infinite
}

@-webkit-keyframes scroll-down {
    0% {
        height: 0
    }

    50% {
        height: 100%
    }

    70% {
        height: 100%;
        transform: scaleY(.5);
        transform-origin: bottom
    }

    100% {
        height: 100%;
        transform: scaleY(0);
        transform-origin: bottom
    }
}

.platfware_down[data-skin=light] .line_wrapper:before {
    background-color: #fff
}

.platfware_about {
    width: 100%;
    height: auto;
    clear: both;
    float: left;
    background-color: #e9e9e9;
    padding-bottom: 75px;
    padding-top: 75px
}

.platfware_about .about_inner {
    width: 100%;
    height: auto;
    clear: both;
    display: flex;
    align-items: center
}

.platfware_about .left {
    width: 40%;
    padding-right: 50px
}

.platfware_about .left .image {
    position: relative
}

.platfware_about .left .image img {
    opacity: 0;
    min-width: 80%
}

.platfware_about .left .main {
    position: absolute !important;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 20px;
    box-shadow: 0 0 40px rgb(0 0 0/20%)
}

.platfware_about .right {
    width: 60%;
    padding-left: 50px
}

.platfware_about .right .text {
    width: 100%;
    float: left;
    padding-top: 27px;
    padding-bottom: 28px
}

.platfware_about .right .list {
    width: 100%;
    float: left;
    margin-bottom: 27px
}

.platfware_about .right .list ul {
    margin: 0 0 0 -20px;
    list-style-type: none
}

.platfware_about .right .list ul li {
    margin: 0 0 13px;
    float: left;
    width: 50%;
    position: relative;
    padding-left: 20px
}

.platfware_about .right .list ul li .list_inner {
    width: 100%;
    height: auto;
    clear: both;
    float: left;
    position: relative;
    padding-left: 30px
}

.platfware_about .right .list ul li span {
    font-family: poppins;
    font-weight: 600;
    color: #000;
    font-style: italic
}

.platfware_about .right .list ul li .svg {
    width: 15px;
    height: 15px;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    color: #000;
    margin-top: -1px
}

.platfware_button {
    width: 100%;
    height: auto;
    clear: both;
    float: left
}

.platfware_button a {
    text-decoration: none;
    color: #fff;
    display: inline-block;
    background-color: #e54b4b;
    border: 2px solid #e54b4b;
    padding: 10px 40px;
    border-radius: 5px;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease
}

.platfware_button a:hover {
    background-color: transparent !important;
    color: #000
}

.platfware_progress_part {
    width: 100%;
    height: auto;
    clear: both;
    float: left;
    padding: 75px 0 75px;
    background-color: #e9e9e9;
}

.platfware_progress_part .part_inner {
    width: 100%;
    height: auto;
    clear: both;
    display: flex
}

.platfware_progress_part .left {
    width: 50%;
    padding-right: 50px
}

.platfware_progress_part .left h3 {
    font-weight: 600;
    margin-bottom: 27px
}

.platfware_progress_part .right {
    width: 50%;
    padding-left: 50px
}

.platfware_progress_part .right h3 {
    font-weight: 600;
    margin-bottom: 27px
}

.kioto_progress {
    width: 100%;
    height: auto;
    clear: both;
    float: left
}

.progress_inner {
    width: 100%;
    margin-bottom: 27px
}

.progress_inner:last-child {
    margin-bottom: 0
}

.progress_inner>span {
    margin: 0 0 7px;
    width: 100%;
    display: block;
    text-align: left;
    font-family: poppins;
    font-weight: 500;
    color: #000
}

.progress_inner span.number {
    float: right
}

.progress_inner .background {
    background: rgba(0, 0, 0, .09);
    width: 100%;
    min-width: 100%;
    position: relative;
    height: 8px;
    border-radius: 5px
}

.progress_inner .background .bar_in {
    height: 100%;
    background: #e54b4b;
    width: 0;
    overflow: hidden;
    border-radius: 5px
}

.progress_inner .background .bar {
    width: 0;
    height: 100%
}

.progress_inner .background .bar.open {
    -webkit-animation: wow 2s cubic-bezier(.165, .84, .44, 1);
    -moz-animation: wow 2s cubic-bezier(.165, .84, .44, 1);
    animation: wow 2s cubic-bezier(.165, .84, .44, 1);
    width: 100%
}

@-webkit-keyframes wow {
    0% {
        width: 0%
    }

    100% {
        width: 100%
    }
}

@-moz-keyframes wow {
    0% {
        width: 0%
    }

    100% {
        width: 100%
    }
}

@keyframes wow {
    0% {
        width: 0%
    }

    100% {
        width: 100%
    }
}

.platfware_title_holder {
    width: 100%;
    height: auto;
    clear: both;
    float: left
}

.platfware_title_holder span {
    color: #e54b4b
}

.platfware_title_holder h3 {
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 10px
}


.platfware_partners {
    width: 100%;
    height:fit-content;
    clear: both;
    float: left;
    padding: 75px 0 75px;
    background-color: #fff;
}

.MarqueeContainer {
    --space: 10px;
    display: grid;
    align-content: center;
    gap: var(--space);
    width: 100%;
    font-family: "Corben", system-ui, sans-serif;
    font-size: 1.5rem;
    line-height: 1.5;
    padding-top: 40px;
  }
  
  .marquee {
    --duration: 60s;
    --gap: var(--space);
    display: flex;
    overflow: hidden;
    user-select: none;
  }
  
  .marquee__group {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 20px;
    min-width: 100%;
    animation: scroll var(--duration) linear infinite;
  }

  .marquee__group img{
    border: 2px solid #e9e9e9;
    width :400px;
    height:300px;
    border-radius: 30px;
  }
  
  @media (prefers-reduced-motion: reduce) {
    .marquee__group {
      animation-play-state: paused;
    }
  }
  
  .marquee--borders {
    padding-block: 20px;
  }
  
  .marquee--reverse .marquee__group {
    animation-direction: reverse;
    animation-delay: calc(var(--duration) / -2);
  }
  
  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(calc(-100% - var(--gap)));
    }
  }
  
  @media screen and (min-width: 311px) and (max-width: 767px) {
    .MarqueeContainer {
      padding: 10px;
    }
    .marquee__group img {
      width: 400px;
      height: 300px;
    }
  }

.platfware_full_link {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 4
}

.overlay_effect {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 3;
    border-radius: 5px
}

.overlay_effect:after {
    position: absolute;
    content: "";
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #f9f9f9;
    z-index: 1
}

.overlay_effect:before {
    position: absolute;
    content: "";
    top: 0;
    bottom: 0;
    left: 0;
    right: 0
}

.my_waypoint.load .overlay_effect:before {
    z-index: 2;
    background-color: #000;
    animation: anim 2s cubic-bezier(.77, 0, .175, 1) both
}

.my_waypoint.load .overlay_effect:after {
    animation: anim2 2s cubic-bezier(.77, 0, .175, 1) both
}

@keyframes anim {
    0% {
        transform: translateX(-100%)
    }

    50% {
        transform: translateX(0)
    }

    100% {
        transform: translateX(100%)
    }
}

@keyframes anim2 {
    0% {
        transform: translateX(0)
    }

    100% {
        transform: translateX(100%)
    }
}

.platfware_talk {
    width: 100%;
    height: auto;
    clear: both;
    float: left;
    padding: 102px 20px 105px;
    position: relative
}

.platfware_talk:before {
    position: absolute;
    content: "";
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: url(..//img/patterns/inspiration-geometry.png);
    background-repeat: repeat;
    opacity: 1;
    z-index: 2
}

.platfware_talk:after {
    position: absolute;
    content: "";
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #000;
    z-index: 1
}

.platfware_talk .talk_inner {
    width: 100%;
    height: auto;
    clear: both;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 3
}

.platfware_talk .text {
    padding-right: 20px
}

.platfware_talk .text h3 {
    font-weight: 600;
    color: #fff
}

.platfware_talk .text h3 span {
    position: relative
}

.platfware_talk .text h3 span:before {
    position: absolute;
    content: "";
    width: 20px;
    height: 4px;
    background-color: #fff;
    bottom: 11px;
    left: 100%;
    opacity: 1;
    animation: myAnim .9s infinite;
    -moz-animation: myAnim .9s infinite;
    -webkit-animation: myAnim .9s infinite
}

@keyframes myAnim {
    0% {
        opacity: 1
    }

    50% {
        opacity: 0
    }

    100% {
        opacity: 1
    }
}

@-webkit-keyframes myAnim {
    0% {
        opacity: 1
    }

    50% {
        opacity: 0
    }

    100% {
        opacity: 1
    }
}

@-moz-keyframes myAnim {
    0% {
        opacity: 1
    }

    50% {
        opacity: 0
    }

    100% {
        opacity: 1
    }
}

.platfware_talk .text p {
    font-family: poppins
}

.platfware_talk .button a {
    color: #fff;
    text-decoration: none;
    font-family: poppins;
    font-weight: 600;
    position: relative;
    display: inline-block
}

.platfware_talk .button a:before {
    content: '';
    width: 100%;
    height: 2px;
    position: absolute;
    left: auto;
    right: 0;
    bottom: 0;
    background: rgba(255, 255, 255, .2)
}

.platfware_talk .button a:after {
    content: '';
    width: 0;
    height: 1px;
    position: absolute;
    left: auto;
    right: 0;
    bottom: 0;
    transition: width .6s cubic-bezier(.25, .8, .25, 1) 0s;
    background: currentColor
}

.platfware_talk .button a:hover:after {
    width: 100%;
    left: 0;
    right: auto
}

.platfware_products {
    width: 100%;
    height: auto;
    clear: both;
    float: left;
    background-color: #e9e9e9;
}

.platfware_products .products_list {
    width: 100%;
    height: auto;
    clear: both;
    float: left;
    padding-top: 90px
}

.platfware_products .products_list ul {
    margin: 0 0 0 -50px;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap
}

.platfware_products .products_list ul li {
    margin: 0 0 50px;
    float: left;
    width: 33.3333%;
    padding-left: 50px
}

.platfware_products .products_list ul li .list_inner {
    width: 100%;
    height: 100%;
    clear: both;
    float: left;
    position: relative
}

.platfware_products .products_list ul li .image {
    position: relative;
    overflow: hidden
}

.platfware_products .products_list ul li .image img {
    min-width: 100%;
    opacity: 0;
}

.platfware_products .products_list ul li .image .main {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    transform: scale(1) translateZ(0);
    border-radius: 5px;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease
}

.platfware_products .products_list ul li .list_inner .image:hover .main {
    transform: scale(1.1) rotate(3deg)
}

.platfware_products .products_list ul li .details {
    width: 100%;
    float: left;
    padding-right: 15px;
    padding-top: 32px
}

.platfware_products .products_list ul li .details .title {
    margin-bottom: 10px
}

.platfware_products .products_list ul li .details .title a {
    text-decoration: none;
    color: #000;
    font-size: 18px;
    font-weight: 600;
    display: inline-block;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease
}

.platfware_products .products_list ul li .details .title a:hover {
    color: #e54b4b
}

.platfware_products .products_list ul li .details .date {
    text-transform: uppercase;
    font-family: poppins;
    font-size: 12px;
    color: #767676;
    font-style: italic
}

.platfware_products .products_list ul li .details .date a {
    text-decoration: none;
    color: #767676;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease
}

.platfware_products .products_list ul li .details .date a:hover {
    color: #e54b4b
}

.platfware_products .products_list ul li .details .date span {
    position: relative;
    margin-left: 11px
}

.platfware_products .products_list ul li .details .date span:before {
    position: absolute;
    content: "";
    margin-top: 1px;
    top: 50%;
    transform: translateY(-50%) rotate(15deg);
    right: 100%;
    background-color: #939393;
    width: 1px;
    height: 9px;
    margin-right: 7px
}

.platfware_products .description {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    z-index: -11;
    display: none
}

body.modal {
    overflow-y: hidden
}

.platfware_modalbox_products {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 100vh;
    z-index: 15;
    background-color: rgba(0, 0, 0, .8);
    opacity: 0;
    visibility: hidden;
    transition: all .3s ease
}

.platfware_modalbox_products.opened {
    opacity: 1;
    visibility: visible
}

.platfware_modalbox_products .container {
    height: 100vh
}

.platfware_modalbox_products .box_inner {
    position: absolute;
    top: 70px;
    bottom: 70px;
    width: 1200px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #fff;
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    margin-top: -20px;
    transition: all .3s ease;
    transition-delay: .3s
}

.platfware_modalbox_products.opened .box_inner {
    opacity: 1;
    visibility: visible;
    margin-top: 0
}

.platfware_modalbox_products .close {
    position: fixed;
    left: 100%;
    top: 0;
    margin-left: 40px;
    z-index: 111111
}

.platfware_modalbox_products .close a {
    text-decoration: none;
    color: #fff
}

.platfware_modalbox_products .close .svg {
    width: 50px;
    height: 50px
}

.platfware_modalbox_products .description_wrap {
    position: relative;
    width: 100%;
    height: 100%;
    float: left;
    overflow: hidden;
    padding: 50px
}

.platfware_modalbox_products .details {
    width: 100%;
    float: left;
    margin-bottom: 30px
}

.platfware_modalbox_products .description {
    width: 100%;
    float: left
}

.platfware_modalbox_products .description p {
    margin-bottom: 15px
}

.platfware_modalbox_products .description blockquote {
    font-style: italic;
    color: #000;
    border-left: 2px solid #e54b4b;
    padding-left: 20px;
    margin-bottom: 15px
}

.platfware_modalbox_products .description_wrap .image {
    position: relative;
    max-height: 450px;
    z-index: -1;
    margin-bottom: 40px
}

.platfware_modalbox_products .description_wrap .image img {
    min-width: 100%
}

.platfware_modalbox_products .description_wrap .image .main {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 5px
}

.platfware_modalbox_products .details .title {
    font-weight: 600;
    margin-bottom: 5px
}

.platfware_modalbox_products .date {
    text-transform: uppercase;
    font-family: poppins;
    font-size: 12px;
    color: #767676;
    font-style: italic
}

.platfware_modalbox_products .date a {
    text-decoration: none;
    color: #767676;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease
}

.platfware_modalbox_products .date a:hover {
    color: #e54b4b
}

.platfware_modalbox_products .date span {
    position: relative;
    margin-left: 11px
}

.platfware_modalbox_products .date span:before {
    position: absolute;
    content: "";
    margin-top: 0;
    top: 50%;
    transform: translateY(-50%) rotate(15deg);
    right: 100%;
    background-color: #939393;
    width: 1px;
    height: 9px;
    margin-right: 7px
}

.platfware_modalbox_products .share {
    width: 100%;
    height: auto;
    clear: both;
    display: flex;
    align-items: center
}

.platfware_modalbox_products .share span {
    font-family: poppins;
    color: #000;
    font-weight: 600;
    display: inline-block;
    padding-right: 20px
}

.platfware_modalbox_products .share ul {
    margin: 0;
    list-style-type: none
}

.platfware_modalbox_products .share ul li {
    margin: 0 10px 0 0;
    display: inline-block
}

.platfware_modalbox_products .share ul li a {
    text-decoration: none;
    color: #000
}

.platfware_contact {
    width: 100%;
    height: auto;
    clear: both;
    float: left;
    position: relative;
    margin-bottom: 110px;
    padding-top: 70px
}

.platfware_contact .contact_inner {
    width: 100%;
    height: auto;
    clear: both;
    display: flex;
    padding-top: 40px
}

.platfware_contact .left {
    width: 50%
}

.platfware_contact .left .text {
    width: 100%;
    float: left;
    margin-bottom: 40px
}

.platfware_contact .info_list {
    width: 100%;
    height: auto;
    clear: both;
    float: left
}

.platfware_contact .info_list ul {
    margin: 0;
    list-style-type: none
}

.platfware_contact .info_list li {
    margin: 0 0 18px;
    float: left;
    width: 100%;
    position: relative
}

.platfware_contact .info_list ul li .list_inner {
    width: 100%;
    height: auto;
    clear: both;
    float: left;
    position: relative;
    padding-left: 27px
}

.platfware_contact .info_list ul li span.first {
    min-width: 100px;
    display: inline-block
}

.platfware_contact .info_list ul li span.second {
    font-weight: 400 !important;
    color: inherit !important
}

.platfware_contact .info_list ul li span {
    font-family: poppins;
    font-weight: 600;
    color: #000
}

.platfware_contact .info_list ul li a {
    text-decoration: none;
    color: inherit !important;
    transition: all .3s ease;
    display: inline-block;
    position: relative
}

.platfware_contact .info_list ul li a:hover {
    color: #000
}

.platfware_contact .info_list ul li a:after {
    content: '';
    width: 0;
    height: 1px;
    position: absolute;
    left: auto;
    right: 0;
    bottom: 0;
    transition: width .6s cubic-bezier(.25, .8, .25, 1) 0s;
    background: currentColor
}

.platfware_contact .info_list ul li a:hover:after {
    width: 100%;
    left: 0;
    right: auto
}

.platfware_contact .info_list ul li a:hover {
    color: #000 !important
}

.platfware_contact .info_list ul li .svg {
    width: 15px;
    height: 15px;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    color: #000;
    margin-top: -1px
}

.platfware_contact .right {
    width: 50%;
    padding-left: 50px
}

.platfware_contact .fields {
    width: 100%;
    height: auto;
    clear: both;
    float: left
}

.platfware_contact .fields .first {
    width: 100%;
    float: left
}

.platfware_contact .fields ul {
    margin: 0;
    list-style-type: none
}

.platfware_contact .fields ul li {
    width: 100%;
    margin: 0 0 30px;
    float: left
}

.platfware_contact .fields ul li input {
    width: 100%;
    border: 1px solid rgba(0, 0, 0, .2);
    background-color: #fff;
    border-radius: 5px
}

.platfware_contact .fields ul li input:focus {
    outline: none;
    border: 1px solid rgba(0, 0, 0, .5)
}

.platfware_contact .fields .last textarea {
    width: 100%;
    border: 1px solid rgba(0, 0, 0, .2);
    height: 120px;
    resize: none;
    margin-bottom: 20px;
    background-color: #fff;
    border-radius: 5px
}

.platfware_contact .fields .last textarea:focus {
    outline: none;
    border: 1px solid rgba(0, 0, 0, .5)
}

.platfware_contact .empty_notice {
    color: #f52225;
    margin-bottom: 7px;
    display: none;
    text-align: left;
    font-weight: 500
}

.platfware_contact .contact_error {
    color: #f52225;
    text-align: left;
    font-weight: 500
}

.platfware_contact .returnmessage {
    color: #3a00ff;
    margin-bottom: 7px;
    text-align: left;
    font-weight: 500
}

.platfware_contact .platfware_button a {
    display: block;
    text-align: center
}

.platfware_copyright {
    width: 100%;
    height: auto;
    clear: both;
    float: left;
    background-color: #000;
    padding: 130px 0 100px;
    position: relative
}

.platfware_copyright .copyright_inner {
    width: 100%;
    height: auto;
    clear: both;
    display: flex;
    align-items: center;
    justify-content: space-between
}

.platfware_copyright .logo img {
    max-width: 200px
}

.platfware_copyright .social ul {
    margin: 0;
    list-style-type: none
}

.platfware_copyright .social ul li {
    margin: 0 25px 0 0;
    display: inline-block
}

.platfware_copyright .social ul li:last {
    margin-right: 0
}

.platfware_copyright .social ul li a {
    text-decoration: none;
    color: #fff
}

.platfware_copyright .social .svg {
    width: 17px;
    height: 17px
}

.platfware_copyright .copy p {
    text-transform: uppercase;
    color: #fff;
    font-family: poppins;
    font-weight: 500;
    font-size: 14px
}

.platfware_copyright .copy a {
    text-decoration: none;
    color: #fff
}

.my_wave {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%
}

.my_wave svg {
    overflow: hidden;
    vertical-align: middle;
    height: 180px;
    width: 100%;
    fill: #fff
}

.mouse-cursor {
    position: fixed;
    left: 0;
    top: 0;
    pointer-events: none;
    border-radius: 50%;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    visibility: hidden
}

.cursor-inner {
    margin-left: -3px;
    margin-top: -3px;
    width: 6px;
    height: 6px;
    z-index: 50;
    background-color: #000;
    -webkit-transition: width .3s ease-in-out, height .3s ease-in-out, margin .3s ease-in-out, opacity .3s ease-in-out;
    transition: width .3s ease-in-out, height .3s ease-in-out, margin .3s ease-in-out, opacity .3s ease-in-out
}

.cursor-inner.cursor-hover {
    margin-left: -40px;
    margin-top: -40px;
    width: 80px;
    height: 80px;
    background-color: #000;
    opacity: .3
}

.cursor-outer {
    margin-left: -15px;
    margin-top: -15px;
    width: 30px;
    height: 30px;
    border: 2px solid #000;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    z-index: 50;
    opacity: .5;
    -webkit-transition: all .08s ease-out;
    transition: all .08s ease-out
}

.cursor-outer.cursor-hover {
    opacity: 0
}

.platfware_all_wrap[data-magic-cursor=hide] .mouse-cursor {
    display: none;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    z-index: -1111
}

.platfware_landing .particle_wrapper {
    position: relative;
    float: left;
    width: 100%;
    height: 100%
}

#particles-js {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 2
}

.platfware_landing .glitch_wrap {
    position: relative;
    width: 100%;
    height: 100%;
    float: left;
    overflow: hidden
}

.glitch {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-image: url(..//img/slider/2.jpg);
    background-size: cover;
    -webkit-background-size: cover;
    background-position: center;
    z-index: -1 !important;
    opacity: 1;
    transform: scale(1)
}

.glitch:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0
}

.platfware_landing .ripple {
    width: 100%;
    height: 100%;
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url(..//img/slider/2.jpg)
}

.platfware_landing .ripple:before {
    position: absolute;
    content: "";
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, .3);
    z-index: 1
}

.container.water {
    visibility: hidden
}

.my_shape {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: -11px;
    z-index: 5
}

.my_shape .svg {
    width: 100%;
    height: 100%
}

.platfware_down.shape {
    bottom: 20%
}

.my_shape svg {
    width: 100%;
    height: 100%;
    color: #fff
}

.progressbar {
    position: fixed;
    height: 100px;
    width: 1px;
    bottom: 25px;
    right: -25px;
    background-color: rgba(0, 0, 0, .08);
    z-index: 10;
    transition: all .3s ease
}

.progressbar.animate {
    right: 25px
}

.progressbar .line {
    position: absolute;
    width: 1px;
    height: auto;
    background-color: rgba(0, 0, 0, .4)
}

.progressbar .text {
    position: absolute;
    top: -77%;
    left: 0;
    font-family: poppins;
    font-size: 13px;
    transform: rotateZ(90deg);
    text-transform: uppercase;
    transform-origin: left;
    white-space: nowrap
}

.progressbar a {
    text-decoration: none;
    color: #000
}

@media(max-width:1400px) {
    .platfware_modalbox_products .box_inner {
        width: 900px
    }
}

@media(max-width:1200px) {
    .platfware_modalbox_products .box_inner {
        width: 100%;
        top: 0;
        bottom: 0
    }

    .platfware_modalbox_products .close {
        position: absolute;
        top: 20px;
        left: auto;
        right: 20px;
        margin-left: 0
    }

    .platfware_modalbox_products .close .svg {
        color: #777;
        width: 25px;
        height: 25px
    }

    .platfware_about .left .image img {
        width: 500px;
        height:500px;
    }
}

@media(max-width:1040px) {
    #preloader {
        display: none
    }

    .mouse-cursor {
        display: none
    }

    .cursor-inner {
        display: none
    }

    .cursor-inner.cursor-hover {
        display: none
    }

    .cursor-outer {
        display: none
    }

    .container {
        padding: 0 20px
    }

    .platfware_topbar {
        display: none
    }

    .platfware_mobile_menu {
        display: block
    }

    .platfware_landing .name {
        font-size: 55px
    }

    .platfware_about .about_inner {
        display: block
    }

    .platfware_about .left {
        padding-right: 0;
        width: 100%;
        margin-bottom: 40px
    }

    .platfware_about .left .image main {
        width: 400px;
        height:400px;
    }

    .platfware_about .right {
        padding-left: 0;
        width: 100%
    }

    .platfware_products .products_list ul {
        margin-left: -30px
    }

    .platfware_products .products_list ul li {
        padding-left: 30px;
        margin-bottom: 30px
    }
}

@media(max-width:768px) {
    .platfware_title_holder h3 {
        letter-spacing: 5px
    }

    .platfware_landing .name {
        font-size: 45px;
        margin-bottom: 5px
    }

    .platfware_landing .job {
        font-size: 17px
    }

    .platfware_about .right .list ul {
        margin: 0
    }

    .platfware_about .right .list ul li {
        width: 100%;
        padding-left: 0
    }

    .platfware_progress_part .part_inner {
        display: block
    }

    .platfware_progress_part .left {
        width: 100%;
        padding-right: 0;
        float: left;
        margin-bottom: 20px
    }

    .platfware_progress_part .right {
        width: 100%;
        padding-left: 0
    }

    .platfware_talk .talk_inner {
        display: block
    }

    .platfware_talk .text {
        padding-right: 0;
        margin-bottom: 30px
    }

    .platfware_products .products_list ul li {
        width: 50%
    }

    .platfware_products .products_list ul li .details .date span {
        margin-left: 0
    }

    .platfware_products .products_list ul li .details .date span:before {
        display: none
    }

    .platfware_contact .contact_inner {
        display: block
    }

    .platfware_contact .left {
        width: 100%;
        margin-bottom: 20px;
        float: left
    }

    .platfware_contact .right {
        width: 100%;
        padding-left: 0
    }

    .platfware_copyright .copyright_inner {
        display: block
    }

    .platfware_copyright .logo {
        margin-bottom: 17px
    }

    .platfware_copyright .social {
        margin-bottom: 10px
    }

    .platfware_modalbox_products .details .title {
        font-size: 25px
    }

    .platfware_modalbox_products .description_wrap {
        padding: 20px
    }
}

@media(max-width:480px) {
    .platfware_landing .name {
        font-size: 30px
    }

    .platfware_landing .job {
        font-size: 15px
    }

    .platfware_products .products_list ul {
        margin: 0
    }

    .platfware_products .products_list ul li {
        width: 100%;
        padding-left: 0
    }
}